@(context: helpers.ViewContext, loginForm: Form[LoginForm.Data])

@import helper.CSRF
@import helpers.FormHelpers

@main(context, "Login") {
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <h1>Login</h1>
        <hr />
      </div>

      <div class="row">
      @if(loginForm.hasGlobalErrors) {
        <div class="alert alert-danger">
          Error:
          <ul class="">
          @for(error <- loginForm.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        </div>
      }
      </div>

      <div class="row">
        <form role="form"
              id="login-form"
              action="@routes.Login.loginPost"
              method="post">

          @_input(loginForm("email"),
                  Map("placeholder" -> "Email"))

          @defining(loginForm("password")) { password =>
            <div class="form-group">
              <label for="password">
                Password
              </label>
              <input class="form-control"
                     type="password"
                     id="password"
                     name="password"
                     placeholder="Password"
                     value="@password.value">
              @if(password.hasErrors) {
                <div class="alert alert-danger">
                  @for(e <- FormHelpers.prettyErrors(password.errors)) {
                    <div>@e</div>
                  }
              }
            </div>
          }

          @defining(context.csrfToken) { implicit token =>
            @CSRF.formField
          }

          <button type="submit" class="btn btn-primary">
            Submit
          </button>

        </form>
      </div>
    </div>
  </div>

}
