@(context: helpers.ViewContext, loginForm: Form[LoginForm.Data])
@main(context, "Login") {
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <h1>Login</h1>
        <hr />
      </div>

      <div class="row">
      @if(loginForm.hasGlobalErrors) {
        <div class="alert alert-danger">
          Error:
          <ul class="">
          @for(error <- loginForm.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        </div>
      }
      </div>

      <div class="row">
        <form role="form"
              id="login-form"
              action="@routes.Login.loginPost"
              method="post">


          @defining(loginForm("email")) { email =>
            <div class="form-group">
              <label for="email">
                Email
              </label>
              <input class="form-control"
                     id="email"
                     name="email"
                     placeholder="Email"
                     value="@email.value">
              @if(email.hasErrors) {
                <div class="alert alert-danger">
                  email.errors.mkString(", ")
                </div>
              }
            </div>
          }

          @defining(loginForm("password")) { password =>
            <div class="form-group">
              <label for="password">
                Password
              </label>
              <input class="form-control"
                     type="password"
                     id="password"
                     name="password"
                     placeholder="Password"
                     value="@password.value">
              @if(password.hasErrors) {
                <div class="alert alert-danger">
                  password.errors.mkString(", ")
                </div>
              }
            </div>
          }

          <button type="submit" class="btn btn-primary">
            Submit
          </button>

        </form>
      </div>
    </div>
  </div>

}
