@(context: helpers.ViewContext, loginForm: Form[LoginForm.Data])

@main(context, "Login") {
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <h1>Login</h1>
        <hr />
      </div>

      <div class="row">
        <form role="form"
              id="login-form"
              action="@routes.Login.loginPost"
              method="post">

          @_formGlobalErrors(loginForm)

          @_input(loginForm("email"),
                  Map("placeholder" -> "Email"))

          @_input(loginForm("password"),
                  Map("type" -> "password",
                      "placeholder" -> "Password"))

          @_csrfField(context)

          <button type="submit" class="btn btn-primary">
            Submit
          </button>

        </form>
      </div>
    </div>
  </div>

}
