@(context: helpers.ViewContext, form: Form[RegistrationForm.Data])

@main(context, "Register") {
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <h1>Register</h1>
        <hr />
      </div>

      <div class="row">
      @if(form.hasGlobalErrors) {
        <div class="alert alert-danger">
          Error:
          <ul class="">
          @for(error <- form.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        </div>
      }
      </div>

      <div class="row">
        <form role="form"
              action="@routes.Registration.registerPost"
              method="post">

          @_input(form("email"),
                  Map("placeholder" -> "Email"))

          @_input(form("password1"),
                  Map("type" -> "password",
                      "placeholder" -> "Password",
                      "label" -> "Password"))

          @_input(form("password2"),
                  Map("type" -> "password",
                      "placeholder" -> "Repeat Password",
                      "label" -> "Repeat Password"))

          @_csrfField(context)

          <button type="submit" class="btn btn-primary">
            Submit
          </button>

        </form>
      </div>
    </div>
  </div>
}
