@(form: Form[RegistrationForm.Data])(implicit flash: Flash)
@import helpers.ViewHelpers
@main("Register", flash) {
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="row">
        <h1>Register</h1>
        <hr />
      </div>

      <div class="row">
      @if(form.hasGlobalErrors) {
        <div class="alert alert-danger">
          Error:
          <ul class="">
          @for(error <- form.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        </div>
      }
      </div>

      <div class="row">
        <form role="form"
              action="@routes.Application.registerPost"
              method="post">

          @defining(form("email")) { email =>
            <div class="form-group">
              <label for="email">
                Email
              </label>
              <input class="form-control"
                     id="email"
                     name="email"
                     placeholder="Email"
                     value="@email.value">
              @if(email.hasErrors) {
                <div class="alert alert-danger">
                  @ViewHelpers.prettyErrors(email.errors)
                </div>
              }
            </div>
          }

          @defining(form("password1")) { password1 =>
            <div class="form-group">
              <label for="password1">
                Password
              </label>
              <input class="form-control"
                     type="password"
                     id="password1"
                     name="password1"
                     placeholder="Password"
                     value="@password1.value">
              @if(password1.hasErrors) {
                <div class="alert alert-danger">
                  @for(e <- ViewHelpers.prettyErrors(password1.errors,
                                                     Some("Password"))) {
                    <div>@e</div>
                  }
                </div>
              }
            </div>
          }

          @defining(form("password2")) { password2 =>
            <div class="form-group">
              <label for="password2">
                Repeat Password
              </label>
              <input class="form-control"
                     type="password"
                     id="password2"
                     name="password2"
                     placeholder="Password"
                     value="@password2.value">
              @if(password2.hasErrors) {
                <div class="alert alert-danger">
                  @for(e <- ViewHelpers.prettyErrors(password2.errors,
                                                    Some("Password"))) {
                    <div>@e</div>
                  }
                </div>
              }
            </div>
          }

          <button type="submit" class="btn btn-primary">
            Submit
          </button>

        </form>
      </div>
    </div>
  </div>
}
