@(registrationForm: Form[RegistrationData])(implicit flash: Flash)

@main("Register", flash) {
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <h1>Register</h1>
        <hr />
      </div>

      @if(registrationForm.hasGlobalErrors) {
        <div class="alert alert-danger">
          Error:
          <ul class="">
          @for(error <- registrationForm.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        </div>
      }

      <div>
        <form role="form"
              action="/register"
              method="post">

          <div class="form-group">
            <label for="email">
              Email
            </label>
            <input class="form-control"
                   id="email"
                   name="email"
                   placeholder="Email"
                   value='@registrationForm.data.getOrElse("email", "")'>
            @registrationForm.error("password1") match {
              case Some(error) => {
                <div class="alert alert-danger">
                  @if(error.message == "error.minLength") {
                    Email is too short
                  }
                </div>
              }
              case None => {}
            }
          </div>

          <div class="form-group">
            <label for="password1">
              Password
            </label>
            <input type="password"
                   class="form-control"
                   id="password1"
                   name="password1"
                   placeholder="Password"
                   value='@registrationForm.data.getOrElse("password1", "")'>
            @registrationForm.error("password1") match {
              case Some(error) => {
                <div class="alert alert-danger">
                  @if(error.message == "error.minLength") {
                    Password is too short
                  }
                </div>
              }
              case None => {}
            }
          </div>

          <div class="form-group">
            <label for="password2">
              Repeat Password
            </label>
            <input type="password"
                   class="form-control"
                   id="password2"
                   name="password2"
                   placeholder="Repeat Password"
                   value='@registrationForm.data.getOrElse("password2", "")'>
            @registrationForm.error("password2") match {
              case Some(error) => {
                <div class="alert alert-danger">
                  @if(error.message == "error.minLength") {
                    Password is too short
                  }
                </div>
              }
              case None => {}
            }
          </div>

          <button type="submit" class="btn btn-primary">
            Submit
          </button>

        </form>
      </div>
    </div>
  </div>
}
